**Read Json data and insert into database using SQL**

In [7]:
import json
import sqlite3

conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

fname = raw_input('Enter file name: ')
if ( len(fname) < 1 ) : fname = 'roster_data.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)
i = 0
for entry in json_data:

    name = entry[0];
    title = entry[1];
    role = entry[2];
    i = i +1
    

    cur.execute('''INSERT OR IGNORE INTO User (name) 
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Course (title) 
        VALUES ( ? )''', ( title, ) )
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id) VALUES ( ?, ? )''', 
        ( user_id, course_id ) )
    print i,name, title,role,user_id,course_id
    conn.commit()

Enter file name:
1 AJ si110 1 1 1
2 Faiza si110 0 2 1
3 Forgan si110 0 3 1
4 Kyrran si110 0 4 1
5 Ivory si110 0 5 1
6 Gavin si110 0 6 1
7 Emir si110 0 7 1
8 Dhrishti si110 0 8 1
9 McKade si110 0 9 1
10 Ruaraidh si110 0 10 1
11 Baley si110 0 11 1
12 Conley si110 0 12 1
13 Mhyren si110 0 13 1
14 Jasmin si110 0 14 1
15 Labhaoise si110 0 15 1
16 Crystal si110 0 16 1
17 Hollymay si110 0 17 1
18 Danial si106 1 18 18
19 Regina si106 0 19 18
20 Maddison si106 0 20 18
21 Elanisa si106 0 21 18
22 Conley si106 0 12 18
23 Elliana si106 0 23 18
24 Adegbola si106 0 24 18
25 Dexter si106 0 25 18
26 Killian si106 0 26 18
27 Dearbhla si106 0 27 18
28 Teighen si106 0 28 18
29 Kaysie si106 0 29 18
30 Mantej si106 0 30 18
31 Luic si106 0 31 18
32 Benji si106 0 32 18
33 Corran si106 0 33 18
34 Basher si106 0 34 18
35 Orlagh si106 0 35 18
36 Alexandra si106 0 36 18
37 Thomson si106 0 37 18
38 Bevin si106 0 38 18
39 Martyn si106 0 39 18
40 Shikha si106 0 40 18
41 Corah si106 0 41 18
42 Parker si106 0 42 18
43 Marcy si106 0 43 18
44 Ashtyn si106 0 44 18
45 Bekim si106 0 45 18
46 Ceilan si106 0 46 18
47 Broghan si106 0 47 18
48 Mae si106 0 48 18
49 Yorgos si106 0 49 18
50 Light si106 0 50 18
51 Pola si106 0 51 18
52 Sachkirat si106 0 52 18
53 Kaidyn si106 0 53 18
54 Alesha si106 0 54 18
55 Temilade si106 0 55 18
56 Caroline si106 0 56 18
57 Kennedy si106 0 57 18
58 Lavena si106 0 58 18
59 Ayda si106 0 59 18
60 Aliesha si106 0 60 18
61 Nora si106 0 61 18
62 Lene si106 0 62 18
63 Cully si106 0 63 18
64 Kylian si206 1 64 64
65 Aimi si206 0 65 64
66 David si206 0 66 64
67 Claire si206 0 67 64
68 Kylan si206 0 68 64
69 Kandel si206 0 69 64
70 Stewarty si206 0 70 64
71 Maya si206 0 71 64
72 Maximillian si206 0 72 64
73 Madeline si206 0 73 64
74 Kyel si206 0 74 64
75 Tareena si206 0 75 64
76 Thea si206 0 76 64
77 Maaz si206 0 77 64
78 Ferre si206 0 78 64
79 Zahide si206 0 79 64
80 Umut si206 0 80 64
81 Gerard si206 0 81 64
82 Keirna si206 0 82 64
83 Arsalan si301 1 83 83
84 Kade si301 0 84 83
85 Iagan si301 0 85 83
86 Roxie si301 0 86 83
87 Deia si301 0 87 83
88 Sianade si301 0 88 83
89 India si301 0 89 83
90 Rajwinder si301 0 90 83
91 Marco si301 0 91 83
92 Jiao si301 0 92 83
93 Kirsten si301 0 93 83
94 Jennifer si301 0 94 83
95 Shaun si301 0 95 83
96 Zerah si301 0 96 83
97 Karine si301 0 97 83
98 Daniil si301 0 98 83
99 Celine si301 0 99 83
100 Malecia si301 0 100 83
101 Serafina si301 0 101 83
102 Laiba si301 0 102 83
103 Yahya si301 0 103 83
104 Geena si301 0 104 83
105 Denis si301 0 105 83
106 Kriss si301 0 106 83
107 Vhairi si301 0 107 83
108 Josef si301 0 108 83
109 Alber si301 0 109 83
110 Lina si301 0 110 83
111 Tyja si301 0 111 83
112 Billie si310 1 112 112
113 Puja si310 0 113 112
114 Amey si310 0 114 112
115 Robyn si310 0 115 112
116 Yann si310 0 116 112
117 April si310 0 117 112
118 Tyja si310 0 111 112
119 Konar si310 0 119 112
120 Tadhg si310 0 120 112
121 Tait si310 0 121 112
122 Carlos si310 0 122 112
123 Iagan si310 0 85 112
124 Cade si310 0 124 112
125 Phoebe si310 0 125 112
126 Jorryn si310 0 126 112
127 Lance si310 0 127 112
128 Taisha si310 0 128 112
129 Azeem si310 0 129 112
130 Torin si310 0 130 112
131 Ami si310 0 131 112
132 Devlin si310 0 132 112
133 Teghan si310 0 133 112
134 Piotr si310 0 134 112
135 Blaise si310 0 135 112
136 Kerr si310 0 136 112
137 Muzammil si310 0 137 112
138 Shannah si310 0 138 112
139 Braeden si310 0 139 112
140 Angaly si310 0 140 112
141 Cody si310 0 141 112
142 Coco si310 0 142 112
143 Levy si310 0 143 112
144 Niharika si310 0 144 112
145 Aylie si310 0 145 112
146 Etinosa si310 0 146 112
147 Cali si310 0 147 112
148 Ceara si310 0 148 112
149 Nevada si310 0 149 112
150 Devayani si334 1 150 150
151 Frank si334 0 151 150
152 Daksh si334 0 152 150
153 Zinedine si334 0 153 150
154 Tiana si334 0 154 150
155 Kayley si334 0 155 150
156 Kashuf si334 0 156 150
157 Darby si334 0 157 150
158 Josef si334 0 108 150
159 Jaay si334 0 159 150
160 Jared si334 0 160 150
161 Hannah si334 0 161 150
162 Kyhran si334 0 162 150
163 Arnav si334 0 163 150
164 Lenin si334 0 164 150
165 Bailey si334 0 165 150
166 Yaseen si334 0 166 150
167 Atiya si334 0 167 150
168 Light si334 0 50 150
169 Soul si334 0 169 150
170 Makensie si334 0 170 150
171 Areeb si334 0 171 150
172 Suilven si334 0 172 150
173 Abigayle si334 0 173 150
174 Beau si334 0 174 150
175 Allice si334 0 175 150
176 Zosia si334 0 176 150
177 Clea si334 0 177 150
178 Barath si334 0 178 150
179 Jeannie si334 0 179 150
180 Kaylan si334 0 180 150
181 Coby si334 0 181 150
182 Lana si334 0 182 150
183 Presley si334 0 183 150
184 Luiza si334 0 184 150
185 Zenub si334 0 185 150
186 Usmah si363 1 186 186
187 Dayna si363 0 187 186
188 Fathema si363 0 188 186
189 Savanna si363 0 189 186
190 Sinem si363 0 190 186
191 Sania si363 0 191 186
192 Clarizze si363 0 192 186
193 Sylvanna si363 0 193 186
194 Alisdair si363 0 194 186
195 Shahmir si363 0 195 186
196 Salsabeel si363 0 196 186
197 Keeyra si363 0 197 186
198 Nazia si363 0 198 186
199 Ausra si363 0 199 186
200 Owais si363 0 200 186
201 Hasini si363 0 201 186
202 Neela si363 0 202 186
203 Rosa si363 0 203 186
204 Lisandro si363 0 204 186
205 Blaise si363 0 135 186
206 Harrington si363 0 206 186
207 Pamindar si363 0 207 186
208 Haiden si363 0 208 186
209 Evan si363 0 209 186
210 Farhaan si363 0 210 186
211 CJ si363 0 211 186
212 Janelle si363 0 212 186
213 Farhan si363 0 213 186
214 Sister si363 0 214 186
215 Tzara si363 0 215 186
216 Orlaithe si363 0 216 186
217 Kelsie si363 0 217 186
218 Idun si363 0 218 186
219 Riva si363 0 219 186
220 Dorothy si363 0 220 186
221 Shae si363 0 221 186
222 Tammylee si363 0 222 186
223 Vanessa si363 0 223 186
224 Oliwia si363 0 224 186
225 Adegbola si363 0 24 186
226 Teighen si363 0 28 186
227 Aneilya si363 0 227 186
228 Anousha si363 0 228 186
229 Khajusta si363 0 229 186
230 Nafeesa si363 0 230 186
231 Ioanna si363 0 231 186
232 Kavin si363 0 232 186
233 Meerab si363 0 233 186
234 Drakeo si363 0 234 186
235 Malina si363 0 235 186
236 Melanie si363 0 236 186
237 Chester si364 1 237 237
238 Cully si364 0 63 237
239 Aliya si364 0 239 237
240 Exodi si364 0 240 237
241 Susanne si364 0 241 237
242 Arooba si364 0 242 237
243 Sharland si364 0 243 237
244 Annastacia si364 0 244 237
245 Leyton si364 0 245 237
246 Anneroy si364 0 246 237
247 Aarron si364 0 247 237
248 Ryhs si364 0 248 237
249 Amrinder si364 0 249 237
250 Seth si364 0 250 237
251 Blyth si364 0 251 237
252 Eveline si364 0 252 237
253 Uri si364 0 253 237
254 Aronas si364 0 254 237
255 Keisha si364 0 255 237
256 Marnie si364 0 256 237
257 Avani si364 0 257 237
258 Melville si364 0 258 237
259 Lorna si364 0 259 237
260 Trafford si422 1 260 260
261 Vaishali si422 0 261 260
262 Laiyah si422 0 262 260
263 Monta si422 0 263 260
264 Lucy si422 0 264 260
265 Conlin si422 0 265 260
266 Salter si422 0 266 260
267 Queeneffa si422 0 267 260
268 Nitya si422 0 268 260
269 Sukhmani si422 0 269 260
270 Farisya si422 0 270 260
271 Elice si422 0 271 260
272 Emmanuel si422 0 272 260
273 Husnain si422 0 273 260
274 Khansa si422 0 274 260
275 Esmee si422 0 275 260
276 Rhoan si422 0 276 260
277 Theo si422 0 277 260
278 Wai si422 0 278 260
279 Saman si422 0 279 260
280 Zella si422 0 280 260
281 Holli si422 0 281 260
282 Carolyn si422 0 282 260
283 Tasha si422 0 283 260
284 Lexi si422 0 284 260
285 Zaya si422 0 285 260
286 Uilleam si422 0 286 260
287 George si422 0 287 260
288 Nathanial si422 0 288 260
289 Aaliyah si422 0 289 260
290 Cayden si422 0 290 260
291 Hind si422 0 291 260
292 Arisha si430 1 292 292
293 Zaina si430 0 293 292
294 Dale si430 0 294 292
295 Santiago si430 0 295 292
296 Kyle si430 0 296 292
297 Pele si430 0 297 292
298 Taylar si430 0 298 292
299 Kaila si430 0 299 292
300 Kaceylee si430 0 300 292
301 Chukwuemeka si430 0 301 292
302 Keleigh si430 0 302 292
303 Avanya si430 0 303 292
304 Carmel si430 0 304 292
305 Ingrid si430 0 305 292
306 Motade si430 0 306 292
307 Aby si430 0 307 292
308 Oliver si430 0 308 292
309 Betheny si430 0 309 292
310 Taniesha si430 0 310 292
311 Sukhpreet si430 0 311 292
312 Oluwafemi si430 0 312 292
313 Ivory si430 0 5 292
314 Alvern si430 0 314 292
315 Sachkirat si430 0 52 292
316 Kaelah si430 0 316 292
317 Greta si430 0 317 292
318 Kyra si430 0 318 292
319 Kayah si430 0 319 292
320 Libby si430 0 320 292
321 Ayleen si430 0 321 292
322 Lani si430 0 322 292
323 Jill si430 0 323 292
324 Maja si430 0 324 292
325 Tyane si430 0 325 292
326 Wilkie si430 0 326 292
327 Ryleigh si430 0 327 292
328 Crispin si430 0 328 292
329 Davina si430 0 329 292
330 Lorne si430 0 330 292
331 Ricky si430 0 331 292
332 Riley si430 0 332 292
333 Ammar si430 0 333 292
334 Keana si430 0 334 292
335 Suzannah si430 0 335 292
336 Laina si430 0 336 292
337 Bradly si430 0 337 292